* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
   width: 100%;
   height: 100vh;
   background: linear-gradient(118deg, #246655, #348317, #2e59b0, #207846);
   background-size: 800% 800%;
   -webkit-animation: AnimationName 30s ease infinite;
   -moz-animation: AnimationName 30s ease infinite;
   animation: AnimationName 30s ease infinite;
   display: flex;
   align-items: center;
   justify-content: center;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.swiper {
    width: 80%;
    height:fit-content;
    border-radius: 10px;
  }

  @media (max-width: 767px) {
    .swiper {
      width: 100%; /* Full width */
      border-radius: 0; /* Remove border radius */
    }
  }
  
  

.swider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.swiper-slide{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0, 0.25);
    border: 6px solid #fdf9ff;
    border-radius: 10px;
    overflow: hidden;
}

.swiper-slide img{
   width: 100%;
   cursor: pointer;
}


.swiper-pagination a:hover{
    opacity: 1;
}