* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	background-image: linear-gradient(315deg, #c2118d 0%, #ff503c 74%);
	font-size: 20px;
	overflow-y: hidden;
}

.wrapper {
	display: flex;
	height: 90vh;
	align-items: start;
	flex-wrap: wrap;
	padding: 20px;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	height: 120px;
}

.menu button,
.note-panel .save,
.note-panel .cancel {
	padding: 12px 25px;
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
	transition: background-color 0.3s, color 0.3s;
}

.menu button:hover,
.note-panel .save:hover,
.note-panel .cancel:hover {
	background-color: #333;
	color: #ddd;
}

.icon {
	margin-right: 10px;
}
.add {
	margin-right: 20px;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
}

input {
	position: relative;
	font-size: 16px;
	padding: 5px 10px;
	margin-top: 10px;
	background: none;
	border: none;
	color: #fff;
	border-bottom: 2px solid #ddd;
	z-index: 100;
}

input::placeholder {
	color: #ddd;
	font-family: 'Montserrat', sans-serif;
}

button {
	padding: 10px;
	margin-left: 20px;
	color: #fff;
	font-weight: bold;
	background: none;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

button:hover {
	color: #333;
	background-color: #ddd;
}

.container {
	position: relative;
	width: 18vw;
	height: 40vh;
	padding: 20px 20px;
	margin: 0 10px;
	background-color: rgba(0, 0, 0, 0.8);
	border: 2px solid white;
	border-radius: 25px;
}

.top {
	height: 50%;
}

.bottom {
	height: 60%;
}

.date-time-update {
	position: relative;
	text-align: center;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
}

.main-info {
	justify-content: space-around;
	align-items: center;
	height: 50%;
}

.city-name {
	position: relative;
	font-size: 24px;
	z-index: 100;
}

.headings,
.weather-info {
	display: flex;
	align-items: center;
}

.headings p,
.weather-info p {
	width: 33.3%;
	text-align: center;
	font-size: 14px;
}

.weather-info p {
	width: 33.3%;
	text-align: center;
	font-size: 24px;
	align-items: center;
}

.headings {
	height: 35%;
	text-transform: uppercase;
	font-weight: bold;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.weather-info {
	height: 65%;
	font-size: 26px;
}

.photo {
	position: absolute;
	top: -20px;
	z-index: 0;
	right: 0;
	width: 140px;
	height: 140px;
	object-fit: contain;
}

.warning {
	margin-top: 10px;
	font-size: 14px;
	color: tomato;
}

.fa-circle-xmark,
.fa-chart-simple {
	color: tomato;
	cursor: pointer;
}

#weatherChart {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 600px;
	max-height: 600px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	border: 2px solid white;
	border-radius: 25px;
	cursor: pointer;
	z-index: 1000;
}
